In [60]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('Boston Housing Dataset.csv')

In [62]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [64]:
df.isnull().sum()/len(df)

CRIM       0.039526
ZN         0.039526
INDUS      0.039526
CHAS       0.039526
NOX        0.000000
RM         0.000000
AGE        0.039526
DIS        0.000000
RAD        0.000000
TAX        0.000000
PTRATIO    0.000000
B          0.000000
LSTAT      0.039526
MEDV       0.000000
dtype: float64

In [65]:
df = pd.DataFrame(df)

# Forward fill NaN values
df = df.ffill()

# Backward fill NaN values
df = df.bfill()

In [7]:
df.isnull().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

## What ML task is this? Classification? Regression? Clustering?

## Since we are predicting the target variable Median Housing Price is a continuous variable it is a REGRESSION PROBLEM**

# What kind of models would be best to accomplish this?

# For regression tasks several models can be effective, including linear regression, decision trees, random forests, gradient boosting machines (GBMs), support vector machines (SVMs)

# How would you maximize performance of the models that you evaluate for this task?

**1. Data Preprocessing: Handle missing values, scale features if necessary, and encode categorical variables**

**2.Feature Engineering: Create new features, perform dimensionality reduction if needed, and explore interactions between features.**

**3. Model Selection: Try different regression algorithms and evaluate their performance using appropriate metrics (e.g., mean squared error, R-squared, etc.).**

**4.Hyperparameter Tuning: Tune the hyperparameters of the chosen models using techniques like grid search or randomized search to find the best combination of parameters.**

**4.Cross-Validation: Use techniques like k-fold cross-validation to assess the model's generalization performance and avoid overfitting.**

**5.Ensemble Methods: Consider ensemble methods like bagging and boosting to further improve performance.**

In [66]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,2.94,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,14.33,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,89.3,2.5050,1,273,21.0,396.90,7.88,11.9

In [67]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,2.94,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,14.33,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,89.3,2.5050,1,273,21.0,396.90,7.88,11.9

# APPLYING VARIOUS MODULES

**LINEAR REGRESSION**

In [68]:
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
import time
from sklearn.linear_model import LinearRegression
# Separate features (X) and target variable (y)
X = df.drop(columns=['MEDV'])  # Features
y = df['MEDV']  # Target variable

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the linear regression model
model = LinearRegression()

start_time = time.time()
# Train the model on the training data
model.fit(X_train, y_train)

end_time = time.time()


# Perform k-fold cross-validation
k = 5  # Number of folds
scores = cross_val_score(model, X, y, cv=k)

print("Cross-Validation Scores:", scores)
print("Mean R^2 Score:", np.mean(scores))

Cross-Validation Scores: [ 0.67389706  0.71048844  0.55529335  0.06878569 -0.23975797]
Mean R^2 Score: 0.35374131206027204

In [69]:
# Make predictions on the testing data
y_pred_1 = model.predict(X_test)

**TIME AND COMPUTE COST**

In [70]:
# Calculate the training time
training_time = end_time - start_time
print("Training Time:", training_time, "seconds")

Training Time: 0.0025491714477539062 seconds

In [71]:
# COMPUTE COST
from sklearn.metrics import mean_squared_error
# Evaluate the model
mse = mean_squared_error(y_test, y_pred_1)
print("Mean Squared Error:", mse)

Mean Squared Error: 24.412619335359658

**RETURN ON INVESTMENT**

In [75]:
# Calculate the Mean Absolute Percentage Error (MAPE)
mape = np.mean(np.abs((y_test - y_pred_1) / y_test)) * 100

print("Mean Absolute Percentage Error (MAPE):", mape)

Mean Absolute Percentage Error (MAPE): 16.772036127720654

**SCORE**

In [72]:
from sklearn.metrics import r2_score

In [73]:
r_squared = r2_score(y_test, y_pred_1)
print("R-squared Score:", r_squared)

R-squared Score: 0.6671026874204953

# DECISION TREE

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

In [40]:
from sklearn.model_selection import train_test_split, GridSearchCV

In [48]:
# Load the dataset
# Assuming you have already loaded and preprocessed the dataset, X and y
# X should contain the features, and y should contain the target variable

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the decision tree regressor model
model = DecisionTreeRegressor(random_state=42)
# Perform k-fold cross-validation
k = 5  # Number of folds
scores = cross_val_score(model, X, y, cv=k)

print("Cross-Validation Scores:", scores)
print("Mean R^2 Score:", np.mean(scores))
start_time_1 = time.time()


model.fit(X_train, y_train)

end_time_1 = time.time()

# Make predictions on the testing data
y_pred_2 = model.predict(X_test)

Cross-Validation Scores: [ 0.68916904  0.62759791  0.5909088   0.1489313  -0.91593494]
Mean R^2 Score: 0.2281344213808505

# TIME AND COMPUTE COST

In [18]:
# Calculate the training time
training_time = end_time_1 - start_time_1
print("Training Time:", training_time, "seconds")

Training Time: 0.009100675582885742 seconds

In [56]:
# COMPUTE COST
# Evaluate the model
mse = mean_squared_error(y_test, y_pred_2)
print("Mean Squared Error:", mse)

Mean Squared Error: 10.24686274509804

# RETURN ON INVESTMENT

In [76]:
# Calculate the Mean Absolute Percentage Error (MAPE)
mape = np.mean(np.abs((y_test - y_pred_2) / y_test)) * 100

print("Mean Absolute Percentage Error (MAPE):", mape)

Mean Absolute Percentage Error (MAPE): 12.440671314867348

# SCORE

In [20]:
from sklearn.metrics import r2_score

In [21]:
r_squared = r2_score(y_test, y_pred_2)
print("R-squared Score:", r_squared)

R-squared Score: 0.8602709105747857

# RANDOM FORESTS

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest regressor model
model = RandomForestRegressor(n_estimators=100, random_state=42)
k = 5  # Number of folds
scores = cross_val_score(model, X, y, cv=k)

print("Cross-Validation Scores:", scores)
print("Mean R^2 Score:", np.mean(scores))

start_time_2 = time.time()

# Train the model on the training data
model.fit(X_train, y_train)

end_time_2 = time.time()



# Make predictions on the testing data
y_pred_3 = model.predict(X_test)

Cross-Validation Scores: [0.76629841 0.85939242 0.73867098 0.41443763 0.29178281]
Mean R^2 Score: 0.6141164494489388

# TIME AND COMPUTE COST

In [24]:
# Calculate the training time
training_time = end_time_2 - start_time_2
print("Training Time:", training_time, "seconds")

Training Time: 0.3744692802429199 seconds

In [55]:
# COMPUTE COST
# Evaluate the model
mse = mean_squared_error(y_test, y_pred_3)
print("Mean Squared Error:", mse)

Mean Squared Error: 7.3638792254901935

# RETURN ON INVESTMENT

In [77]:
# Calculate the Mean Absolute Percentage Error (MAPE)
mape = np.mean(np.abs((y_test - y_pred_3) / y_test)) * 100

print("Mean Absolute Percentage Error (MAPE):", mape)

Mean Absolute Percentage Error (MAPE): 11.144730056960945

# SCORE

In [26]:
from sklearn.metrics import r2_score

In [27]:
r_squared = r2_score(y_test, y_pred_3)
print("R-squared Score:", r_squared)

R-squared Score: 0.899584081058641

# GRADIENT BOOSTING MACHINES

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Gradient Boosting regressor model
model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
k = 5  # Number of folds
scores = cross_val_score(model, X, y, cv=k)

print("Cross-Validation Scores:", scores)
print("Mean R^2 Score:", np.mean(scores))

start_time_3 = time.time()

# Train the model on the training data
model.fit(X_train, y_train)

end_time_3 = time.time()

# Make predictions on the testing data
y_pred_4 = model.predict(X_test)

Cross-Validation Scores: [0.77699522 0.84405438 0.74481507 0.57682879 0.45312415]
Mean R^2 Score: 0.6791635211291882

# TIME AND COMPUTE

In [30]:
# Calculate the training time
training_time = end_time_3 - start_time_3
print("Training Time:", training_time, "seconds")

Training Time: 0.17972111701965332 seconds

In [58]:
# COMPUTE COST
# Evaluate the model
mse = mean_squared_error(y_test, y_pred_4)
print("Mean Squared Error:", mse)

Mean Squared Error: 6.766478496821709

# RETURN ON INVESTMENT

In [79]:
# Calculate the Mean Absolute Percentage Error (MAPE)
mape = np.mean(np.abs((y_test - y_pred_4) / y_test)) * 100

print("Mean Absolute Percentage Error (MAPE):", mape)

Mean Absolute Percentage Error (MAPE): 10.255805066498086

# SCORE

In [32]:
from sklearn.metrics import r2_score

In [33]:
r_squared = r2_score(y_test, y_pred_4)
print("R-squared Score:", r_squared)

R-squared Score: 0.9077304046618081

# SUPPORT VECTOR MACHINES

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Gradient Boosting regressor model
model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
k = 5  # Number of folds
scores = cross_val_score(model, X, y, cv=k)

print("Cross-Validation Scores:", scores)
print("Mean R^2 Score:", np.mean(scores))

start_time_4 = time.time()

# Train the model on the training data
model.fit(X_train, y_train)

end_time_4 = time.time()

# Make predictions on the testing data
y_pred_5 = model.predict(X_test)

Cross-Validation Scores: [0.77699522 0.84405438 0.74481507 0.57682879 0.45312415]
Mean R^2 Score: 0.6791635211291882

# TIME AND COMPUTE COST

In [36]:
# Calculate the training time
training_time = end_time_4 - start_time_4
print("Training Time:", training_time, "seconds")

Training Time: 0.1813511848449707 seconds

In [59]:
# COMPUTE COST

mse = mean_squared_error(y_test, y_pred_5)
print("Mean Squared Error:", mse)

Mean Squared Error: 6.766478496821709

# RETURN ON INVESTMENT

In [80]:
# Calculate the Mean Absolute Percentage Error (MAPE)
mape = np.mean(np.abs((y_test - y_pred_4) / y_test)) * 100

print("Mean Absolute Percentage Error (MAPE):", mape)

Mean Absolute Percentage Error (MAPE): 10.255805066498086

# SCORE

In [38]:
from sklearn.metrics import r2_score

In [39]:
r_squared = r2_score(y_test, y_pred_5)
print("R-squared Score:", r_squared)

R-squared Score: 0.9077304046618081

# CONCLUSION

**Algorithms Gradient Boosting Machines and Support Vector Machines are best given lower Compute Cost (as Mean Squared Error is low) and give better Return on Investment (as Mean Percentage Error is low)**

**Algorithms Gradient Boosting Machines and Support Vector Machines perform the prediction task with almost the score of 0.9**

**Also comparing between Gradient Boosting and Support Vector Machine(SVM) SVM is better because it takes less Time**